@font-face {
    font-family: WorkSans-bold;
    src: url(./assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: WorkSans-regular;
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: WorkSans-semibold;
    src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: WorkSans;
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

body {
    font-family: "WorkSans", sans-serif;
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq__card.active .faq__answer {
    max-height: 300px;
    transition: max-height 1.4s ease;
}

.button {
    all: unset;
}